= link_to board_card_path(@board,card) do
  .board
    .board_detail_name
      %p= card.name
    - if card.eyecatch.attached?
      .eyecatch
        = image_tag card.eyecatch
      .board_detail_content
        %p= card.content
    - if user_signed_in? && current_user.has_written?(@board)
      .board_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_card_path(board_id: @board.id, id: card.id)
            = link_to '削除する', card_path(board_id: @board.id, id: card.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか' }