%h1 Brankets
- if user_signed_in? && current_user.has_written?(@board)
  .board_detail_actions
    .dropdown
      = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content.mini
        = link_to '編集するよ', edit_board_path(@board)
        = link_to '削除するよ', board_path(@board), data: { method: 'delete', confirm: '本当に削除してもよいかい？' }

- @cards.each do |card|
  = link_to board_card_path(@board,card) do
    .card 
      .card_detail 
        - if card.eyecatch.attached?
          .card_img 
            = image_tag card.eyecatch 
        .card.name 
          = card.name 
        .card_content 
          = card.content 
  
.container
  = link_to new_board_card_path(@board) do
    .card_add
      %p  + Add new Card
