.board
  %h1.board_title=@board.title
  - if user_signed_in? && current_user.has_written?(@board)
    .board_detail_actions
      .dropdown
        = image_tag 'actions.svg',class: 'dropbtn'
        .dropdown_conrent.mini
          = link_to '編集',edit_board_path(@board)
          = link_to '削除',board_path(@board),data: {method: 'delete',confirm:'本当に削除してもよろしいですか?'}
  .board_content
    = @board.content
  = link_to new_board_path do
    .card_add
      %p  + Add new board
